/*============
global styles
============*/

body {
  background: rgb(185, 188, 192);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Helvetica, Tahoma, sans-serif;
  user-select: none;
}

/*============
    layout
============*/

.row-1 {
  height: 25%;
  display: flex;
  align-items: flex-end;
}

.row-2 {
  height: 100px;
  background-color: #fffed1;
  display: flex;
  align-items: center;
  box-shadow:
  0px 0px 9px rgba(0, 0, 0, .25),
  0px 0px 4px rgba(0, 0, 0, .09);
}

.row-3 {
  height: calc(75% - 100px);
  display: flex;
}

.row-3 >* {
  justify-content: flex-start;
}

.digits-column {
  width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.operators-column {
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.column-color {
  height: 110vh;
  transform: translate(0, 75vh);
  background-color: rgb(147, 147, 216, 0.6);
  box-shadow:
    0px 0px 9px rgba(0, 0, 0, .25),
    0px 0px 4px rgba(0, 0, 0, .09);
}

.left-column,
.right-column {
  flex: 1 1 auto;
}

/*============
  components
============*/

/* buttons */

button {
  font-size: 80px;
  font-weight: bold;
  color: rgb(0, 0, 77);
  width: 100px;
  height: 100px;
  border: none;
  padding: 0px;
  background: none;
  text-shadow:
    2px 2px 1px rgba(0, 0, 0, .25);
}

.clear-button {
  height: auto;
  width: auto;
}

.backspace {
  font-size: 70px;
  transform: translateY(-2px);
}

.hovering {
  filter: brightness(0.8);
  transform: scale(0.9);
  transition: all .1s ease;
}

.triggered {
  filter: brightness(1.5);
  transform: scale(1.2);
  border-color: rgb(0, 0, 77);
  text-shadow: 0 0 10px #fffd93;
  transition: all .1s ease;
}

button:focus-visible {
  outline: none;
}

kbd {
  font-family: Helvetica, Tahoma, sans-serif;
}

/* display */

.display {
  align-self: flex-end;
  height: 100px;
  width: 310px;
  padding-right: 17px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.display .value {
  height: 60px;
  font-size: 50px;
  flex: 1 1 auto;
}

.display .memory {
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1 1 auto;
}

/*============
    media
============*/
@media screen and (max-width: 600px) {
  body {
    height: 100svh;
  }

  .digits-column {
    width: 75vw;
  }

  .digits-column div {
    width: 75vw;
    display: flex;
  }

  .operators-column {
    width: 25vw;
    align-items: center;
  }
}

@media screen and (max-height: 600px) and (orientation: landscape) {
  body {
    transform: rotate(90deg);
  }

  .column-color {
    height: 110vw;
    transform: translate(0, 70vw);
  }
}
